{% extends 'mailing/base.html' %}

{% block title %}Детали рассылки{% endblock %}

{% block content %}
<h2>Рассылка: {{ mailing.message.subject }}</h2>
<p><strong>Статус:</strong>
    {% if mailing.status == 'created' %}Создана{% endif %}
    {% if mailing.status == 'started' %}<span class="text-warning">Запущена</span>{% endif %}
    {% if mailing.status == 'completed' %}<span class="text-muted">Завершена</span>{% endif %}
</p>
<p><strong>Дата начала:</strong> {{ mailing.start_time|date:"Y-m-d H:i:s" }}</p>
<p><strong>Дата окончания:</strong> {{ mailing.end_time|date:"Y-m-d H:i:s" }}</p>

<form method="post" action="{% url 'mailing:send_mailing' mailing.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Отправить рассылку</button>
</form>
{% endblock %}